doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Roboost Solutions Oy

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/intro.jpg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper High quality softrare
                            span.section-heading-lower Ready for Production
                        p.mb-3
                            | All our solutions are made with care and precision to perform business needs from day one. We take special care to deliver software that works.
                        .intro-button.mx-auto
                            a.btn.btn-primary.btn-xl(href='#!') Call Us Today!

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper Our Promise
                                span.section-heading-lower To You
                            p.mb-0
                                | When you partner with us, you will receive our dedicated support for your business needs. Everything valuable to you is important to us too. Let's create something awesome together!

        include includes/footer

        include includes/scripts
